<section id="listing-search">
    <form action="javascript:searchRooms()" method="GET">
        <select name="s-locations" id="s-locations">
            <option value="Search">Search</option>
            <option value="Lisbon">Lisbon</option>
            <option value="Waterloo">Waterloo</option>
            <option value="Toronto">Toronto</option>
        </select>
        <input class="submit" id="search-submit" type="submit" value="Search">
    </form>
</section>