<!DOCTYPE html>
<html>
    <head>
        <title>Room Listing</title>
        <link rel="stylesheet" type="text/css" href="/styles/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/0c5d9ba0ef.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <main id="listing-page">
            <div id="covid-banner">
                <a href="#">Get the latest on our COVID-19 response</a>
            </div>
            <header>
                <div id="nav-area">
                    <div id="logo">
                        <i class="fab fa-airbnb"></i>
                        <p>airbnb</p>
                    </div>
                    <nav>
                        <a href="/index">Home</a>
                        <p>Listings</p>
                        {{#if user}}
                            <a href="/dashboard">Dashboard</a>
                        {{else}}
                            <a href="/register">Register</a>
                        {{/if}}
                    </nav>
                    <aside id="host-language-login">
                        <p>Become a Host</p>
                        <i class="fas fa-globe"></i>
                        <div id="login">
                            <i class="fas fa-bars"></i>
                            {{#if user}}
                                <a href="/dashboard"><i class="fas fa-user-circle"></i></a>
                            {{else}}
                                <a href="/login"><i class="fas fa-user-circle"></i></a>
                            {{/if}}
                        </div>
                    </aside>
                </div>
            </header>
            {{> listing-search}}
            <div class="main-body">
                <section id="listing">
                    <h1>Room Listings</h1>
                    <div id="listing-master"></div>
                </section>
                {{#if user.admin}}
                    {{> listing-a}}
                {{/if}}
            </div>
            <footer>
                <div id="footer-left">
                    <p>© 2021 Airbnb, Inc.</p>
                    <p>Privacy</p>
                    <p>Terms</p>
                    <p>Sitemap</p>
                </div>
                <div id="footer-right">
                    <div class="footer-bar" id="language">
                        <i class="fas fa-globe"></i>
                        <p>English (CA)</p>
                    </div>
                    <div class="footer-bar" id="currency">
                        <p>$ <span>CAD</span></p>
                    </div>
                    <div class="footer-bar" id="socials">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </footer>
        </main>
        <script src="/js/listing.js"></script>
    </body>
</html>