<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" type="text/css" href="/styles/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/0c5d9ba0ef.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <main id="login-page">
            <div id="covid-banner">
                <a href="#">Get the latest on our COVID-19 response</a>
            </div>
            <header>
                <div id="nav-area">
                    <div id="logo">
                        <i class="fab fa-airbnb"></i>
                        <p>airbnb</p>
                    </div>
                    <nav>
                        <a href="/index">Home</a>
                        <a href="/listing">Listings</a>
                        <a href="/register">Register</a>
                    </nav>
                    <aside id="host-language-login">
                        <p>Become a Host</p>
                        <i class="fas fa-globe"></i>
                        <div id="login">
                            <i class="fas fa-bars"></i>
                            <a href="#"><i class="fas fa-user-circle"></i></a>
                        </div>
                    </aside>
                </div>
            </header>
            <div class="main-body">
                <section id="full-login">
                    <h1>Log In to Your Account</h1>
                    <div id="login-master">
                        <p class="center">Log in with <a href="#">Facebook</a> or <a href="#">Google</a></p>
                        <p class="center positioned"><span>or</span></p>
                        <form id="login-form" action="/login" method="POST">
                            {{#if data.email1}}
                                <p class="error">**Email address required</p>
                            {{/if}}
                            {{#if data.email2}}
                                <p class="error">**Incorrect email</p>
                            {{/if}}
                            <input type="email" id="email" name="email" placeholder="Email address">
                            {{#if data.password0}}
                                <p class="error">**Password required</p>
                            {{/if}}
                            {{#if data.password1}}
                                <p class="error">**Incorrect password</p>
                            {{/if}}
                            <input type="password" id="password" name="password" placeholder="Password">
                            <input class="submit" id="login-submit" type="submit" value="Sign Up">
                        </form>
                    </div>
                </section>
            </div>
            <footer>
                <div id="footer-left">
                    <p>© 2021 Airbnb, Inc.</p>
                    <p>Privacy</p>
                    <p>Terms</p>
                    <p>Sitemap</p>
                </div>
                <div id="footer-right">
                    <div class="footer-bar" id="language">
                        <i class="fas fa-globe"></i>
                        <p>English (CA)</p>
                    </div>
                    <div class="footer-bar" id="currency">
                        <p>$ <span>CAD</span></p>
                    </div>
                    <div class="footer-bar" id="socials">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </footer>
        </main>
    </body>
</html>